/* Attachment */
.attachment div {
  width:14px;
  height:30px;
  border:2px solid white;
  border-bottom:none;
  -webkit-border-radius:14px 14px 0px 0px;
  -mozborder-radius:14px 14px 0px 0px;
  border-radius:14px 14px 0px 0px;
  top:15px;
  left:26px;
  -webkit-transform:rotate(45deg) translateX(4px);
  -moz-transform:rotate(45deg) translateX(4px);
  -ms-transform:rotate(45deg) translateX(4px);
  -o-transform:rotate(45deg) translateX(4px);
  transform:rotate(45deg) translateX(4px);
}

.attachment div:before {
  content:"";
  width:10px;
  height:20px;
  border:2px solid white;
  border-top:none;
  -webkit-border-radius:0px 0px 10px 10px;
  -moz-border-radius:0px 0px 10px 10px;
  border-radius:0px 0px 10px 10px;
  top:15px;
  left:-2px;
}

.attachment div:after {
  content:"";
  width:6px;
  height:20px;
  border:2px solid white;
  border-bottom:none;
  -webkit-border-radius:6px 6px 0px 0px;
  -moz-border-radius:6px 6px 0px 0px;
  border-radius:6px 6px 0px 0px;
  top:5px;
  right:2px;
}