/* Mouse */
.mouse div {
  width:30px;
  height:40px;
  background-color:white;
  -webkit-border-radius:5px 5px 20px 20px;
  -moz-border-radius:5px 5px 20px 20px;
  border-radius:5px 5px 20px 20px;
  top:10px;
  left:20px;
}

.mouse div:before {
  content:"";
  height:1px;
  background-color:black;
  top:12px;
  right:0px;
  left:0px;
}

.mouse div:after {
  content:"";
  width:5px;
  height:12px;
  border-left:2px solid black;
  border-right:2px solid black;
  background-color:black;
  -webkit-box-shadow:inset 0px 0px 0px 2px white;
  -moz-box-shadow:inset 0px 0px 0px 2px white;
  box-shadow:inset 0px 0px 0px 2px white;
  top:0px;
  left:11px;
}