/* Myspace */
.myspace .head {
  width:16px;
  height:16px;
  background-color:white;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  top:12px;
  right:16px;
  -webkit-box-shadow:
    -16px 2px 0px -2px white,
    -28px 4px 0px -4px white;
  -moz-box-shadow:
    -16px 2px 0px -2px white,
    -28px 4px 0px -4px white;
  box-shadow:
    -16px 2px 0px -2px white,
    -28px 4px 0px -4px white;
}

.myspace .body {
  width:20px;
  height:28px;
  background-color:white;
  -webkit-border-radius:18px 18px 0px 0px;
  -moz-border-radius:18px 18px 0px 0px;
  border-radius:18px 18px 0px 0px;
  top:30px;
  right:14px;
  -webkit-box-shadow:
    -16px -2px 0px -2px white,
    -28px -4px 0px -4px white;
  -moz-box-shadow:
    -16px -2px 0px -2px white,
    -28px -4px 0px -4px white;
  box-shadow:
    -16px -2px 0px -2px white,
    -28px -4px 0px -4px white;
}